@import "_reset";

$Bright_orange: hsl(31, 77%, 52%);
$Dark_cyan: hsl(184, 100%, 22%);
$Very_dark_cyan: hsl(179, 100%, 13%);
$Transparent_white_paragraphs: hsla(0, 0%, 100%, 0.75);
$Very_light_gray: hsl(0, 0%, 95%);

body {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 1rem;
    background-color: $Very_light_gray;
    color: $Very_light_gray;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

.card {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    .sedans-section {
        background-color: $Bright_orange;
        button {
            color: $Bright_orange;
        }
        button:hover {
            background-color: $Bright_orange;
            color: $Very_light_gray;
        }
    }
    .suvs-section {
        background-color: $Dark_cyan;
        button {
            color: $Dark_cyan;
        }
        button:hover {
            background-color: $Dark_cyan;
            color: $Very_light_gray;
        }
    }
    .luxury-section {
        background-color: $Very_dark_cyan;
        button {
            color: $Very_dark_cyan;
        }
        button:hover {
            background-color: $Very_dark_cyan;
            color: $Very_light_gray;
        }
    }
}

section {
    padding: 3.3rem;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    padding: 1.5rem 0;
}

p {
    color: $Transparent_white_paragraphs;
    line-height: 170%;
}

button {
    background-color: $Very_light_gray;
    border-radius: 25px;
    border: 1px solid white;
    width: 60%;
    padding: 0.6rem;
    margin: 1rem 0 0;
}

@media only screen and (min-width: 1024px) {
    body {
        padding: 1rem 16rem;
    }
    .card {
        flex-direction: row;
    }
    button {
        margin-top: 5rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: $Very_dark_cyan;
    a {
        color: hsl(228, 45%, 44%);
    }
}